input{
background-color:white;    
color: #1f2b5b;
border-radius: 10px;


}

input::placeholder{
   color:#1f2b5b;
   
}

button {
    width: 20%;
    margin-left: 10%;
    background-color: #ffffff;
    border-radius: 30px;
    color: #1f2b5b;
    
}