/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
svg{margin: 3px;
font-size: 15px;
};

.justify-content-center{
    background-color: #1f2b5b;
    color:#22aa99;
    margin: 30px 30px 30px 30px;
    padding: 60px 60px 60px 60px;
    border: 2px solid #22aa99;
    border-radius: 2%;
    margin-top: 50px;
}



.button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    width: 250px;
    height: 40px;
    text-align: center;
    
  }
.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }
  