/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body{
  font-family: 'Oswald', sans-serif;
}

p{
font-weight: 300;
}
.container{
    display: flex;
    justify-content: center;
  };


svg{margin: 3px;
font-size: 14px;
};

.button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 30px 30px 60px 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    
  }
.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }

  .buttonlogin{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #22aa99;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  
  