.navbar{
    
    width: 100%;
    background-color:#1f2b5b;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    
}
.nav-link:hover{
    color:#20aa99 !important;
}
.logoRaj {
    margin: auto;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    
}