.navbar{
    
    width: 100%;
    background-color:#1f2b5b;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    
}
.nav-link:hover{
    color:#20aa99 !important;
}
.logoRaj {
    margin: auto;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    
}
h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
}
p{
    font-size: 20px;
  
}
