.navbar{
    background-color:#1f2b5b;  
    
}

.nav-link {
    text-decoration: none;
    color: white !important;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.nav-link:hover{
    color:#20aa99 !important;
}
.logoRaj {
    margin: auto;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    
}
h1{
    font-size: 50px;
    margin: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
}
p{
    font-size: 2rem;
}
