
.button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    width: 250px;
    height: 40px;
    text-align: center;
    
  }
.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
            background: #22aa99;
  }
  .stylempresa{
    padding-top: 20px;
  }
  .stylempresatext{
    color: white;
    margin-top: 20px;
    
  }
  
