
.Textauto{
     font-size: 20px;
     margin-top: 120px;
    
}
.imgauto{
   
    height: 400px;
    width: 400px;
    border-radius: 20%;
}
.Buttonauto{
    margin-top: 20px;
    margin-bottom: 20px;
}